* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(bg.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: sans-serif;
    gap: 10px;
    padding: 0 30px;

}

.hero> :nth-child(1) {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 16px;
    text-align: center;

}

.hero> :nth-child(4) {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.separation {
    height: 5px;
    background-color: rgb(31, 31, 31);
    position: relative;
    z-index: 20;

}

.btn {
    padding: 3px 8px;
    color: white;
    font-weight: 400;
    background-color: rgba(248, 243, 243, 0.021);
    border: 1px solid rgba(255, 255, 255, 0.425);
    border-radius: 4px;
    cursor: pointer;

}

.btn-red {
    background-color: red;
    color: white;
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}


.btn-red-sm {
    background-color: red;
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}



.secImg {
    position: relative;
}

.secImg img {
    /* width: 30vw; */
    position: relative;
    z-index: 10;
    width: 450px;

}

.secImg video {
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    width: 390px;

}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bold;
}

.first>div :nth-child(2) {
    font-size: 24px;

}

.faq h2 {
    text-align: center;
    font-size: 48px;

}

.faq {
    color: white;
    background-color: black;
    padding: 34PX;
}

.faqbox:hover {

    background-color: #414141;
}

.faq svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 20px;
    max-width: 60VW;
    margin: 10px auto;
    cursor: pointer;

}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 34px;

}


footer a {
    /* text-decoration: none; */
    color: white;
    font-size: 14px;
}

.footer {
    display: grid;
    grid-template-columns: 30fr 25fr 10fr;
    color: white;
}

 @media screen and (max-width:1300px) {
    nav {
        max-width: 80vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {

        width: 350px;

    }

    .secImg video {
        width: 300px;

    }

    .hero> :nth-child(1) {

        font-size: 32px;

    }

    .hero> :nth-child(2) {

        font-size: 18px;

    }

    .hero> :nth-child(3) {

        font-size: 18px;

    }

    .hero> :nth-child(4) {

        font-size: 18px;

    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;

    }
} 

@media screen and (max-width:1300px) {
    .footer {
        display: grid;
        grid-template-columns: 10fr;
        color: white;
        gap: 30px;
        margin: 50px;

    }


}

footer .question {
    padding: 34px 0;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 20px;


}